<!DOCTYPE html>
<html>
<head>
  <title>rbrun</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "rbrun/rbrun", "data-turbo-track": "reload" %>
</head>
<body class="bg-slate-50 min-h-screen"><%= yield %></body>
</html>
